In [1]:
import tables as tbl
import numpy as np
from importlib import reload

In [7]:
# Test 1: print variable column width, header and index present or not
reload(tbl);
arr = np.zeros((5, 8))
arr[2, 2] = 18364528393899283637383
header = ["long label", "a", "abc", 1, 2, 308735893514172, 6.0, 0b01100101]
index = ["beep", "boop", "a", "b", 0]
table = tbl.Table(arr, header=header, index=index)
# table = tbl.Table(arr, index=index)
# table = tbl.Table(arr, header=header)
# table = tbl.Table(arr)
print(table)

Table with size (5, 8)

         0           1    2                       3    4    5                6    7
         long label  a    abc                     1    2    308735893514172  6.0  101
0  beep  0.0         0.0  0.0                     0.0  0.0  0.0              0.0  0.0
1  boop  0.0         0.0  0.0                     0.0  0.0  0.0              0.0  0.0
2  a     0.0         0.0  1.8364528393899284e+22  0.0  0.0  0.0              0.0  0.0
3  b     0.0         0.0  0.0                     0.0  0.0  0.0              0.0  0.0
4  0     0.0         0.0  0.0                     0.0  0.0  0.0              0.0  0.0

In [8]:
# Test 2: restrictions on print size
reload(tbl);
arr = np.zeros((20000, 20000))
# arr = np.zeros((200, 10))
# arr = np.zeros((10, 20))
# arr = np.zeros((10, 10))
table = tbl.Table(arr)
print(table)

Table with size (20000, 20000)

       0    1    2    3    4    ...  19995  19996  19997  19998  19999
0      0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
1      0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
2      0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
3      0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
4      0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
5      0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
6      0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
7      0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
8      0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
9      0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
10     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
11     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
12     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
13     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
14     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
15     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
16     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
17     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
18     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
20     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
21     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
22     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
23     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
24     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
25     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
26     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
27     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
28     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
29     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
30     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
31     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
32     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
33     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
34     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
35     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
36     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
37     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
38     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
39     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
40     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
41     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
42     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
43     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
44     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
45     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
46     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
47     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
48     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
49     0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
...    ...  ...  ...  ...  ...  ...  ...    ...    ...    ...    ...
19950  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19951  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19952  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19953  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19954  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19955  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19956  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19957  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19958  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19959  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19960  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19961  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19962  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19963  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19964  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19965  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19966  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19967  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19968  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19969  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19970  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19971  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19972  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19973  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19974  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19975  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19976  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19977  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19978  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19979  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19980  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19981  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19982  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19983  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19984  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19985  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19986  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19987  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19988  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19989  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19990  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19991  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19992  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19993  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19994  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19995  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19996  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19997  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19998  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0
19999  0.0  0.0  0.0  0.0  0.0  ...  0.0    0.0    0.0    0.0    0.0

In [9]:
# Test 3: type checking
reload(tbl);
arr = np.zeros((5, 5))
table = tbl.Table(arr)
print(table)
print(type(table))
print(isinstance(table, tbl.Table))

Table with size (5, 5)

   0    1    2    3    4
0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0

<class 'tables.Table'>
True

In [10]:
# Test 4: different input types
reload(tbl);
# data = [np.ones((10, 1))*3, np.ones((10, 2))*1, np.ones((10, 3))*2]
# data = (np.ones((10, 1))*3, np.ones((10, 2))*1, np.ones((10, 3))*2)
data = {"three": np.ones((10, 1))*3, "one": np.ones((10, 2))*1, "two": np.ones((10, 3))*2}
table = tbl.Table(data)
print(table)

Table with size (10, 6)

   0      1    2    3    4    5
   three  one  one  two  two  two
0  3.0    1.0  1.0  2.0  2.0  2.0
1  3.0    1.0  1.0  2.0  2.0  2.0
2  3.0    1.0  1.0  2.0  2.0  2.0
3  3.0    1.0  1.0  2.0  2.0  2.0
4  3.0    1.0  1.0  2.0  2.0  2.0
5  3.0    1.0  1.0  2.0  2.0  2.0
6  3.0    1.0  1.0  2.0  2.0  2.0
7  3.0    1.0  1.0  2.0  2.0  2.0
8  3.0    1.0  1.0  2.0  2.0  2.0
9  3.0    1.0  1.0  2.0  2.0  2.0

In [42]:
# Test 5: numerical indexing
reload(tbl);
data = {"three": np.ones((10, 1))*3, "one": np.ones((10, 2))*1, "two": np.ones((10, 3))*2}
table = tbl.Table(data)
print(table)
table[:5]
hihi = table[:, :]
print(hihi)
table[:, :, :]
print(table)

Table with size (10, 6)

   0      1    2    3    4    5
   three  one  one  two  two  two
0  3.0    1.0  1.0  2.0  2.0  2.0
1  3.0    1.0  1.0  2.0  2.0  2.0
2  3.0    1.0  1.0  2.0  2.0  2.0
3  3.0    1.0  1.0  2.0  2.0  2.0
4  3.0    1.0  1.0  2.0  2.0  2.0
5  3.0    1.0  1.0  2.0  2.0  2.0
6  3.0    1.0  1.0  2.0  2.0  2.0
7  3.0    1.0  1.0  2.0  2.0  2.0
8  3.0    1.0  1.0  2.0  2.0  2.0
9  3.0    1.0  1.0  2.0  2.0  2.0

only rows
rows and columns
Table with size (2, 5)

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

IndexError: Instances of tables.Table have 2 dimensions, but received index of 3 dimensions.

In [23]:
print(isinstance(3, int))

True

In [38]:
reload(tbl);
table = tbl.Table([])
print(table)

ValueError: 'data' cannot have zero elements.

In [39]:
arr = np.atleast_2d(np.array([]))
table = tbl.Table(arr)
print(arr)
print(arr.shape)
print(arr.size)

ValueError: 'data' cannot have zero elements.

In [37]:
book = {}
print(len(book.keys()))

0